* {
    margin: 0 auto;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 100%;
    height: 100%;
}

body {
    background-color: #1e1e1e;
}

ul {
    list-style-type: none;
    margin: 0;
}

.header {
    margin-bottom: 2rem;
}

.navBar {
    text-align: center;
    /* margin-bottom: 3rem; */
}

.navBar ul {
    max-width: 900px;
    margin: 0 auto;
}

.navBar ul li a {
    display: block;
    padding: 1.3rem;
    color: black;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.navBar ul li {
    background-color: whitesmoke;
    border-radius: 8px;
    margin: 0.5rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.navBar ul li:hover {
    background-color: rgb(233, 189, 255);
}